
/* css scroll  */
body::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
    overflow: visible !important;
}

body::-webkit-scrollbar-thumb {
    background: #2a579b !important;
    border-radius: 7px !important;
}

body::-webkit-scrollbar-thumb:horizontal {
    background: #2a579b !important;
    border-radius: 7px !important;
}